.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 0.1);
}
.home-navlink {
  display: contents;
}
.home-text {
  text-decoration: none;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-navlink01 {
  text-decoration: none;
}
.home-navlink02 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink03 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink04 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink05 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-slider {
  width: 100%;
  height: 300px;
  display: inline-block;
}
.home-slider-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100%;
  justify-content: center;
  background-image: url('https://peakbaggerblobs.blob.core.windows.net/pbphoto/p17885L.jpg');
  background-position: center;
}
.home-text06 {
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 48px;
}
.home-navlink06 {
  font-size: 24px;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-slider-slide1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://stonemountainpark.com/wp-content/uploads/2021/08/SMP22_GENERAL_ScopeMountain_DesktopHero-1190x500.png');
  background-position: center;
}
.home-text07 {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 48px;
}
.home-navlink07 {
  color: #ffffff;
  font-size: 24px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-slider-slide2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://www.ricondo.com/sites/default/files/2019-06/AerialOverlays_1280px_ATL.png');
  background-position: center;
}
.home-text08 {
  color: #ffffff;
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 48px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(0, 0, 0, 0.2);
}
.home-navlink08 {
  color: #ffffff;
  font-size: 24px;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-slider-slide3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://flywith.virginatlantic.com/content/dam/HelpCentre/skyteam/airline-heros/tailfin-hero-delta.jpg');
  background-position: center;
}
.home-text09 {
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 48px;
}
.home-navlink09 {
  font-size: 24px;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-slider-slide4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100%;
  justify-content: center;
  background-image: url('https://www.whereandwhen.net/site/images/illustration/atlanta-georgie_809.jpg');
  background-position: top;
}
.home-text10 {
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 48px;
}
.home-navlink10 {
  font-size: 24px;
  border-width: 0px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-slider-pagination {
  display: block;
}
@media(max-width: 1366px) {
  .home-desktop-menu {
    flex-direction: row;
  }
  .home-links {
    flex-direction: row;
    justify-content: flex-end;
  }
  .home-slider {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
